/* App.css or your CSS file */

/* Default styles for all screen sizes */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns for desktops (default) */
  gap: 20px; /* Adjust the gap between boxes */
  width: 92%;
  align-items: center;
  margin: auto;
}

/* Media query for tablets (adjust breakpoints as needed) */
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
  }
}

/* Media query for phones (adjust breakpoints as needed) */
@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr); /* 1 column for phones */
  }
} 

